*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins;
}

body{
background:linear-gradient(135deg,#1e3c72,#2a5298);
color:white;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
background:#111;
}

.logo{
display:flex;
align-items:center;
gap:10px;
}

.logo img{
width:50px;
height:50px;
}

nav{
display:flex;
gap:20px;
}

nav a{
color:white;
text-decoration:none;
font-weight:bold;
}

.search-box input{
padding:10px;
border:none;
border-radius:20px;
}

.hero{
text-align:center;
padding:50px;
}

.products{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
padding:30px;
}

.card{
background:white;
color:black;
padding:15px;
border-radius:15px;
text-align:center;
transition:.3s;
}

.card:hover{
transform:scale(1.05);
}

.card img{
width:100%;
height:200px;
object-fit:cover;
}

.card button{
padding:10px;
background:#2196f3;
color:white;
border:none;
border-radius:10px;
cursor:pointer;
}

.auth-box{
width:400px;
margin:100px auto;
background:white;
color:black;
padding:30px;
border-radius:15px;
}

.auth-box input{
width:100%;
padding:10px;
margin:10px 0;
}

.register-container{
display:flex;
height:100vh;
}

.left-image{
width:50%;
}

.left-image img{
width:100%;
height:100%;
object-fit:cover;
}

.register-form{
width:50%;
display:flex;
flex-direction:column;
justify-content:center;
padding:50px;
background:white;
color:black;
}

.register-form input{
padding:12px;
margin:10px 0;
}

footer{
text-align:center;
padding:20px;
background:#111;
margin-top:30px;
}

.dark{
background:#111;
color:white;
}